.admin-users {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.admin-users h2 {
    color: #333;
}

.admin-users table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-users th, .admin-users td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.admin-users th {
    background-color: #985f6f;
    color: white;
}

.admin-users tr:nth-child(even) {
    background-color: #f2f2f2;
}
