.admin-event {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-event h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.chart {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.chart h3 {
    color: #4C8891;
    margin-bottom: 10px;
}
